 .App{
  width: 100vw;
  height: 100vh;
}
.App-header{
  width: 100vw;
  height: 90vh;
  margin: auto;
  overflow: hidden;
  display: flex;
}
.image{
  transition: transform 0.4s ease-in-out;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

